### DEV ###
.idea
.vagrant

### ENV ###
.DS_STORE

### FE ###
/frontend/node_modules/
/frontend/yarn-error.log

### BE ###
.env
.env.local
.env.local.php
.env.*.local
.env.test
public/bundles/
var/
vendor/
.phpunit
phpunit.xml
.php_cs
.php_cs.cache

