{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "customPath": "\/\/Users\/sarah\/Documents\/_repos\/Personal Projects\/VideoStreamer\/backend\/bin/phpunit"
    },
    "logs": {
        "text": "../logs/infection-log.txt"
    }
}